<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="de.leihwelt.android.droidkobanpro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="12" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="com.google.android.tv"
        android:required="true" />

    <application
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".mainscreen.MainMenu"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainscreen.TwitterSetup"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.BuyAddonsAd"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.BuyAddons"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".chooser.DroidkobanChooser"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Droidkoban"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.DonateView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.Videos"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.ChoosePlayer"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.Instructions"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.About"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.Changelog"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".mainscreen.Settings"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".select.SelectLevelList"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".select.SelectStoryList"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".achievements.view.AchievementView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <receiver
            android:name=".AddonReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="de.leihwelt.android.addon.nsfjdg98z23lkjnsdfiwejb3422" />
                <action android:name="de.leihwelt.android.addon.n235ljkn23ljnk32nb34" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.openfeint.internal.ui.IntroFlow"
            android:configChanges="orientation|keyboardHidden"
            android:label="IntroFlow"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.openfeint.api.ui.Dashboard"
            android:configChanges="orientation|keyboardHidden"
            android:label="Dashboard"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.openfeint.internal.ui.Settings"
            android:configChanges="orientation|keyboardHidden"
            android:label="Settings"
            android:theme="@android:style/Theme.NoTitleBar" />

        <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

</manifest>